<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AsyncWebClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AsyncWebClient.Properties.Settings>
            <setting name="AsyncWebClient_AsyncWebService_AsyncWebService"
                serializeAs="String">
                <value>http://localhost:1166/AsyncWebService.asmx</value>
            </setting>
        </AsyncWebClient.Properties.Settings>
    </applicationSettings>
</configuration>